
table{
    border-collapse:collapse;
    margin-top: 190px;
    margin-left: 5pt;
    margin-right: 5px;
    
}

.Frs{
    
}

td{
    width: 750px;
    border:1pt solid black;
    text-align: center;
    padding-bottom: 60%;
}

.primera.img{
    size: 50%;
}