body{
    margin: 0%;
    background-color: #d6c0a8;
}

.header{
    background-color: rgb(189, 154, 115);
    width: 100%;
    border-collapse: collapse;
    height: 70px;
    color: rgb(49, 48, 48);
    font-size: 14pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
}

.header img{
    width: 40px;
}

.header .Index,.About,.Contact{
    /* border: 1px solid;*/
    width: 400px;
    text-align: center;
}

.header .logo{
    text-align:left;
    vertical-align: middle;
}



.table1{
    margin: auto;
    padding-top: 15%;
   
}

.max{
    text-align: center;
    background-color: blue;
}

.Tronco{

}

.titles{
    vertical-align: top;
    width: 700px;
    text-align: center;
    text-indent: -21%;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
}

.primera.img{
    width: 700px;
}