body{
    margin: 0%;
    background-color: #d6c0a8;
}

.header{
    background-color: rgb(189, 154, 115);
    width: 100%;
    border-collapse: collapse;
    height: 70px;
    color: rgb(49, 48, 48);
    font-size: 14pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
}

.header img{
    width: 40px;
}

.header .Index,.About,.Contact{
    /* border: 1px solid;*/
    width: 400px;
    text-align: center;
}

.header .logo{
    text-align:left;
    vertical-align: middle;
}

table{
    border: solid black;
    text-align: center;
}

.table1{
    display: block;
    text-align: center;

   
}

tr{
    padding: 13%;
    text-align: center;

}
.Tronco{


}

.subtitles{
    vertical-align: top;
    text-align: center;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
}





.titles{
    text-align: right;
    padding-bottom: 50pt;
    
}

.segunda.img{


}

.primera.img{

}

